<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nuevo Curso</h4>
                    </div>
                    <div class="content">

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card-user">
                    <div class="content">
                        <button type="button" class="btn btn-secondary">Secondary</button>
                        <button type="button" class="btn btn-secondary">Secondary</button>
                        <button type="button" class="btn btn-secondary">Secondary</button>
                        <button type="button" class="btn btn-secondary">Secondary</button>
                        <button type="button" class="btn btn-secondary">Secondary</button>
                        <button type="button" class="btn btn-secondary">Secondary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
