<form (ngSubmit)="submit(formStudent, estudiante)" #formStudent="ngForm">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Carnet del estudiante</label>
                <input type="text" class="form-control" name="carnet" [(ngModel)]="estudiante.carnet" disabled>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>CUI</label>
                <input type="text" class="form-control" name="idPersona" [(ngModel)]="estudiante.idPersona" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre" [(ngModel)]="estudiante.nombre" required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" name="apellido" [(ngModel)]="estudiante.apellido" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Correo</label>
                <input type="text" class="form-control"  name="email" [(ngModel)]="estudiante.email" required>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>Telefono</label>
                <input type="text" class="form-control"  name="tel" [(ngModel)]="estudiante.tel" required>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label>Dirección</label>
                <input type="text" class="form-control"  name="direccion" [(ngModel)]="estudiante.direccion" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Fecha de nacimiento</label>
                <input type="date" class="form-control" name="fecha" [(ngModel)]="estudiante.fecha" required>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="col-md-1 pull-right">
            <a (click)="delete(estudiante)" class="btn btn-danger">Eliminar</a>
        </div>
        <div class="col-md-1 pull-right">
            <button type="submit" class="btn btn-info btn-fill">Actualizar</button>
        </div>
    </div>

    <!--<button type="submit" class="btn btn-info btn-fill pull-right" >Actualizar</button>-->
    <div class="clearfix"></div>
</form>
