<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">

                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <h4 class="title">{{getTitle()}}</h4>
                            </div>

                            <div class="col-md-1 ms-auto">
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                        Menu
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" [routerLink]="['/ncurso/new']">Nuevo</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['/ncurso/list']">Listar</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['/ncurso/edit']">Editar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <router-outlet></router-outlet>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

