<form >
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Código de curso</label>
                <input type="text" class="form-control" name="idCurse" [(ngModel)]="curso.idCurse" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre" [(ngModel)]="curso.nombre">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Sección</label>
                <input type="text" class="form-control" name="seccion" [(ngModel)]="curso.seccion">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Catedratico</label>
                <input type="text" class="form-control"  name="catedratico" [(ngModel)]="curso.catedratico">
            </div>
        </div>
        <div class="col justify-content-start">
            <div class="form-group">
                    <label>Horario</label>
                    <input type="time" class="form-control" name="hinicio"
                           min="07:00" max="16:00" required>
                    <input type="time" class="form-control" name="hfinal"
                           min="09:00" max="18:00" required>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" value="Mike">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Country" value="Andrew">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Postal Code</label>
                <input type="number" class="form-control" placeholder="ZIP Code">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>About Me</label>
                <textarea rows="5" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
    <div class="clearfix"></div>
</form>
