<form (ngSubmit)="submit(formCurso, curso)" #formCurso="ngForm">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Código de curso</label>
                <input type="text" class="form-control" name="idcurso" [(ngModel)]="curso.idcurso" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre" [(ngModel)]="curso.nombre" required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Sección</label>
                <input type="text" class="form-control" name="seccion" [(ngModel)]="curso.seccion" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Catedratico</label>
                <input type="text" class="form-control"  name="catedratico" [(ngModel)]="curso.nombreCatedratico" required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label>Horario</label>
                    <select class="form-select form-control" name="horario" [(ngModel)]="curso.horario" required>
                        <option selected>Seleccione una opción</option>
                        <option value="07:00 - 09:00">07:00 - 09:00</option>
                        <option value="09:00 - 11:00">09:00 - 11:00</option>
                        <option value="11:00 - 13:00">11:00 - 13:00</option>
                        <option value="14:00 - 16:00">14:00 - 16:00</option>
                        <option value="16:00 - 18:00">16:00 - 18:00</option>
                    </select>
                </div>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="col-md-1 pull-right">
            <a (click)="delete(curso)" class="btn btn-danger">Eliminar</a>
        </div>
        <div class="col-md-1 pull-right">
            <button type="submit" class="btn btn-info btn-fill">Actualizar</button>
        </div>
    </div>
    <!--<button type="submit" class="btn btn-info btn-fill pull-right" >Actualizar</button>-->
    <div class="clearfix"></div>
</form>
